@import 'normalize.css';

@font-face {
  font-family: 'Bangers';
  src: url('/fonts/Bangers-Regular.ttf');
}

body {
  background-color: #242424;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: #4d79bc;
  font-family: 'Bangers', cursive;
}

img {
  display: none;
}
